@model PropertyPageViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_UserLayout";

}

@section Styles{
    <link rel="stylesheet" href="~/css/userStyle.css">
}

<div class="hero-section" style=" background:url('@Url.Content("~/images/hero_bg_2.jpg")') no-repeat center;">

    <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
        <h1>Find Your Propety</h1>
    </div>
</div>


<div class="container-fluid  LatestProperty-section">
    <h2 class="LatestProperty-heading">Latest on the <br/> Property Listing </h2>
    <div class="row">
 
        @foreach (var item in Model.AllProperities)
        {
        <partial name="PartialViews/CardPartialView" model="item"/>
        }
    </div>
</div>


<div class="container-fluid  LatestProperty-section">
    <h2 class="FeaturedProperty-heading">Featured Properties<br/>on our Listing</h2>
    <div class="row">
        @foreach (var item in Model.FeaturedProperities)
        {
            <partial name="PartialViews/CardPartialView" model="item" />
        }
    </div>
</div>








<div class="container-fluid hosted-section">
    <h2>Try Hosting With Us</h2>
    <p>Earn extra just by renting your property...</p>
    <a class="host-button me-2">Become a Host</a>
</div>



<div class="container-fluid  LatestProperty-section">
    <h2 class="FeaturedProperty-heading">Top Rated<br />Properties</h2>
    <div class="row">
        @foreach (var item in Model.RatingProperty)
        {
            
            var carouselId = "carousel_" + item.Id;
            var images = item.Images.ToList();
            <div class="col-lg-3 col-6 mb-4" style="position:relative">

                <div id="@carouselId" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        @for (int i = 0; i < images.Count; i++)
                        {
                            <button type="button" data-bs-target="#@carouselId" data-bs-slide-to="@i"
                                    class="@(i == 0 ? "active" : "")" aria-current="@(i == 0 ? "true" : "false")" aria-label="Slide @(i + 1)">
                            </button>
                        }
                    </div>
                    <div class="carousel-inner">
                        @for (int i = 0; i < images.Count; i++)
                        {
                            var img = images[i];
                            var imagePath = img.Path.StartsWith("http") ? img.Path : Url.Content("~/images/" + img.Path);

                            <div class="carousel-item @(i == 0 ? "active" : "")" data-bs-interval="5000">
                                <img src="@imagePath" class="d-block w-100" style="max-height: 200px;" />
                            </div>
                        }
                    </div>
                </div>


                <p class="p-card">@item.Name</p>
                <p class="me-1">@item.Address</p>
                <a asp-controller="User" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm mb-3" style="display:block;">Details</a>
                <div class="topRatedDiv">
                    <i class="fa-solid fa-star @(item.StarRating >= 1 ? "text-warning" : "")"></i>
                    <i class="fa-solid fa-star @(item.StarRating >= 2 ? "text-warning" : "")"></i>
                    <i class="fa-solid fa-star @(item.StarRating >= 3 ? "text-warning" : "")"></i>
                    <i class="fa-solid fa-star @(item.StarRating >= 4 ? "text-warning" : "")"></i>
                    <i class="fa-solid fa-star @(item.StarRating >= 5 ? "text-warning" : "")"></i>
                </div>
                   
            </div>

        }
    </div>
</div>
