@model PropertyPageViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_UserLayout";

}

@section Styles{
    <link rel="stylesheet" href="~/css/userStyle.css">
}

<div class="hero-section" style=" background:url('@Url.Content("~/images/hero_bg_2.jpg")') no-repeat center;">

    <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
        <h1>Find Your Propety</h1>
    </div>
</div>


<div class="container-fluid  LatestProperty-section">
    <h2 class="common-heading">Latest on the <br/> Property Listing </h2>
    <div class="row">
 
        @foreach (var property in Model.AllProperities)
        {

            <div class="col-lg-3 col-6 mb-4 card-container" data-propertyId="@property.Id">

                @{
                    var primaryImage = property.Images.FirstOrDefault(img => img.IsPrimary);
                    if (primaryImage != null)
                    {
                        var imagePath = primaryImage.Path.StartsWith("http")
                        ? primaryImage.Path
                        : Url.Content("~/images/" + primaryImage.Path);

                        <div class="image-container">
                            <img src="@imagePath" class="d-block w-100" />
                            <div class="favourite"><i class="fa-regular fa-heart"></i></div>
                        </div>
                    }
                }

                <div class="body">
                    <div class="host-img rounded-circle overflow-hidden">
                        <img src="~/images/@property.Host.Image" class="w-100 h-100 object-fit-cover" alt="Profile" />
                    </div>

                    <p class="card-title">@property.Name</p>
                    <p class="card-address">@property.Address</p>
                </div>
            </div>
        }
    </div>
</div>



<div class="container-fluid  TopReatedProperty-section">
    <h2 class="common-heading">Top Rated<br />Properties</h2>
    <div class="row">
        @foreach (var property in Model.RatingProperty)
        {

            <div class="col-lg-3 col-6 mb-4 card-container" data-propertyId="@property.Id">

                @{
                    var primaryImage = property.Images.FirstOrDefault(img => img.IsPrimary);
                    if (primaryImage != null)
                    {
                        var imagePath = primaryImage.Path.StartsWith("http")
                        ? primaryImage.Path
                        : Url.Content("~/images/" + primaryImage.Path);

                        <div class="image-container">
                            <img src="@imagePath" class="d-block w-100" />
                            <div class="favourite"><i class="fa-regular fa-heart"></i></div>
                        </div>
                    }
                }

                <div class="body">
                    <div class="host-img rounded-circle overflow-hidden">
                        <img src="~/images/@property.Host.Image" class="w-100 h-100 object-fit-cover" alt="Profile" />
                    </div>

                    <p class="card-title">@property.Name</p>
                    <p class="card-address">@property.Address</p>
                </div>
                <div class="topRatedDiv">
                    <i class="@(property.StarRating >= 1 ? "fa-solid fa-star" : "fa-regular fa-star")"></i>
                    <i class="@(property.StarRating >= 2 ? "fa-solid fa-star" : "fa-regular fa-star")"></i>
                    <i class="@(property.StarRating >= 3 ? "fa-solid fa-star" : "fa-regular fa-star")"></i>
                    <i class="@(property.StarRating >= 4 ? "fa-solid fa-star" : "fa-regular fa-star")"></i>
                    <i class="@(property.StarRating >= 5 ? "fa-solid fa-star" : "fa-regular fa-star")"></i>
                </div>
            </div>
        }
    </div>
</div>


<div class="container-fluid hosted-section">
    <h2>Try Hosting With Us</h2>
    <p>Earn extra just by renting your property...</p>
    <a class="host-button me-2">Become a Host</a>
</div>

<div class="container-fluid  FeaturedProperty-section">
    <h2 class="common-heading">Featured Properties<br />on our Listing</h2>
    <div class="row">
        @foreach (var property in Model.FeaturedProperities)
        {
            <div class="col-lg-3 col-6 mb-4 card-container" data-propertyId="@property.Id">

                <div id="featured_@property.Id" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        @for (int i = 0; i < property.Images.Count; i++)
                        {
                            <button type="button" data-bs-target="#featured_@property.Id" data-bs-slide-to="@i"
                                    class="@(i == 0 ? "active" : "")" aria-current="@(i == 0 ? "true" : "false")"
                                    aria-label="Slide @(i + 1)"></button>
                        }
                    </div>
                    <div class="carousel-inner">
                        @for (int i = 0; i < property.Images.Count; i++)
                        {
                            var img = property.Images[i];
                            var imagePath = img.Path.StartsWith("http") ? img.Path : Url.Content("~/images/" + img.Path);

                            <div class="carousel-item @(i == 0 ? "active" : "") image-container" data-bs-interval="5000">
                                <img src="@imagePath" class="d-block w-100" />
                            </div>
                        }
                    </div>
                    <div class="price">$ @property.FeesPerMonth USD</div>
                    <div class="favourite"><i class="fa-regular fa-heart"></i></div>
                </div>

                <div class="body">
                    <p class="card-title">@property.Name</p>
                    <p class="card-address">@property.Address</p>


                    <div class="row px-3 icons">
                        <div class="col-lg-3 col-12 p-0 icon-container">
                            <i class="fa-solid fa-bed "></i> <span class="m-1">@($"{@property.BedRooms}")</span>
                        </div>
                        <div class="col-lg-3 col-2 p-0 icon-container">
                            <i class="fa-solid fa-sink "></i>  <span class="m-1">@($"{@property.BathRooms}")</span>
                        </div>
                        <div class="col-lg-3 col-2 p-0 icon-container">
                            <i class="fa-solid fa-car "></i> <span class="m-1">@($"{@property.GarageSlots}")</span>
                        </div>
                        <div class="col-lg-3 col-2 p-0 icon-container">
                            <i class="fa-solid fa-paw "></i> <span class="m-1">@($"{@property.BetsAllowd}")</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/user/index.js"></script>
}