@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Property

@{
    ViewData["Title"] = "FeaturedPartialView";

    var carouselId = "carousel_" + Model.Id;
    var images = Model.Images.ToList();
}


<style>

    .favourite {
        cursor: pointer;
        font-size: 35px;
        position: absolute;
        top: 15px;
        right: 20px;
        font-weight: 300;
    }
</style>
<div class="col-lg-3 col-6 mb-4 card-container" data-propertyId="@Model.Id">

    <div id="@carouselId" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @for (int i = 0; i < images.Count; i++)
            {
                <button type="button" data-bs-target="#@carouselId" data-bs-slide-to="@i"
                        class="@(i == 0 ? "active" : "")" aria-current="@(i == 0 ? "true" : "false")"
                        aria-label="Slide @(i + 1)"></button>
            }
        </div>
        <div class="carousel-inner">
            @for (int i = 0; i < images.Count; i++)
            {
                var img = images[i];
                var imagePath = img.Path.StartsWith("http") ? img.Path : Url.Content("~/images/" + img.Path);

                <div class="carousel-item @(i == 0 ? "active" : "") image-container" data-bs-interval="5000">
                    <img src="@imagePath" class="d-block w-100" />
                </div>
            }
        </div>
        <div class="price">$ @Model.FeesPerMonth USD</div>
        <div class="favourite"><i class="fa-regular fa-heart"></i></div>
    </div>

    <div class="body">
        <p class="card-title">@Model.Name</p>
        <p class="card-address">@Model.Address</p>


        <div class="row px-3 icons">
            <div class="col-lg-3 col-12 p-0 icon-container">
                <i class="fa-solid fa-bed "></i> <span class="m-1">@($"{@Model.BedRooms}")</span>
            </div>
            <div class="col-lg-3 col-2 p-0 icon-container">
                <i class="fa-solid fa-sink "></i>  <span class="m-1">@($"{@Model.BathRooms}")</span>
            </div>
            <div class="col-lg-3 col-2 p-0 icon-container">
                <i class="fa-solid fa-car "></i> <span class="m-1">@($"{@Model.GarageSlots}")</span>
            </div>
            <div class="col-lg-3 col-2 p-0 icon-container">
                <i class="fa-solid fa-paw "></i> <span class="m-1">@($"{@Model.BetsAllowd}")</span>
            </div>
        </div>
    </div>

</div>

<script>

</script>
