@{
    var imageUrl = ViewBag.ImageUrl;
    var text=  ViewBag.text;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)


</head>
<body>
    <nav class="navbar navbar-expand-lg  fixed-top">
        <div class="container-fluid ">

            <a class="navbar-brand me-auto" href="#">Homelo</a>

            <div class="d-flex order-lg-3">
                <a class="host-button me-2">Become a Host</a>
                <div class="dropdown user-login">
                    <button class="btn btn-link nav-link dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-bars"></i>
                        <i class="fa-solid fa-circle-user"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="#">Login</a></li>
                        <li><a class="dropdown-item" href="#">Register</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Help</a></li>
                    </ul>
                </div>
            </div>
            <button class="navbar-toggler pe-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "") mx-lg-2" aria-current="page" asp-controller="Home" asp-action="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "About" ? "active" : "") mx-lg-2" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Services" ? "active" : "") mx-lg-2" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Contact" ? "active" : "") mx-lg-2" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>

                </ul>

            </div>
           
    </nav>

    <div class="hero-section" style=" background:url('@imageUrl') no-repeat center;">

        <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
            <h1>@text</h1>
        </div>
    </div>

            <div>
                @RenderBody()
            </div>



    <div class="container-fluid ">
        <footer class="text-center text-white" style="background-color: #664E2B">
            <div class="container">
                <section class="mt-5">
                    <div class="row text-center d-flex justify-content-center pt-5">
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="#!" class="text-white">Home</a>
                            </h6>
                        </div>

                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="#!" class="text-white">About us</a>
                            </h6>
                        </div>

                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="#!" class="text-white">Services</a>
                            </h6>
                        </div>



                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="#!" class="text-white">Contact</a>
                            </h6>
                        </div>
                    </div>
                </section>


                <hr class="my-3" />

                <section class="mb-3">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <p>
                                Find Your Dream Home Today with Our
                                Extensive Property Collection
                            </p>
                        </div>
                    </div>
                </section>
                <section class="text-center mb-3">
                    <a href="" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-github"></i>
                    </a>
                </section>
            </div>

            <div class="text-center p-3"
                 style="background-color: rgba(0, 0, 0, 0.2)">
                <a class="text-white" href="https://mdbootstrap.com/">Homelo.com</a>
            </div>
        </footer>
    </div>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>

            @await RenderSectionAsync("Scripts", required: false)

</body> 
</html>
