<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="/css/style.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg  fixed-top" style="padding:0px 30px">
        <div class="container-fluid ">

            <a class="navbar-brand me-auto" href="#">Homelo</a>

            <div class="d-flex order-lg-3">
              
                <div class="dropdown user-login">
                    <button class="btn btn-link nav-link dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-bars"></i>
                        <i class="fa-solid fa-circle-user"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="SignOut">Log Out</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Help</a></li>
                    </ul>
                </div>
            </div>
            <button class="navbar-toggler pe-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-5">
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "") mx-lg-2" aria-current="page" asp-controller="User" asp-action="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "FindProperty" ? "active" : "") mx-lg-2" asp-controller="User" asp-action="FindProperty">Find A Property</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Favourite" ? "active" : "") mx-lg-2" href="#">Favoutite Property</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Download" ? "active" : "") mx-lg-2" asp-controller="Home" asp-action="Contact">Download Mobile App</a>
                    </li>

                </ul>

            </div>

    </nav>

    <div>
        @RenderBody()
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
