@{
    ViewData["Title"] = "Home Page";
    ViewBag.ImageUrl = @Url.Content("~/images/hero_bg_3.jpg");
    ViewBag.text = "Discover Your Dream Home";

}

<div class="container service-section">
    <div class="service-heading text-center">
        <h2>Explore Our Services</h2>

    </div>
    <div class="row">
        <div class="col-lg-4 text-center col-12">
            <div class="service-card">
                <img src="@Url.Content("~/images/homepage-spot-agent-lg.jpg") "
                     width="150px"
                     alt="" />
                <h4>Buy a home</h4>
                <p>A real estate agent can provide you with a clear breakdown of costs so that you can avoid surprise expenses.</p>
            </div>
        </div>

        <div class="col-lg-4 text-center col-12">
            <div class="service-card">
                <img src="@Url.Content("~/images/homepage-spot-rent-lg.jpg") "
                     width="150px"
                     alt="" />
                <h4>Rent a home</h4>
                <p>We’re creating a seamless online experience from shopping on the largest rental network, to applying, to paying rent.</p>
            </div>
        </div>

        <div class="col-lg-4 text-center col-12">
            <div class="service-card">
                <img src="@Url.Content("~/images/homepage-spot-sell-lg.jpg") "
                     width="150px"
                     alt="" />
                <h4>Sell a home</h4>
                <p>No matter what path you take to sell your home, we can help you navigate a successful sale.</p>
            </div>
        </div>
    </div>
</div>


<div class="container discover-section">
    <div class="discover-heading text-center">
        <h2 class="text-center">Discover Your Dream Home</h2>
    </div>
    <div class="row">
        <div class="col-lg-4 text-center col-12">
            <div class="discover-card">
                <img src="@Url.Content("~/images/discover1.jpg") "
                     width="100%"
                     height="270px"
                     alt="" />
            </div>
        </div>

        <div class="col-lg-4 text-center col-12">
            <div class="discover-card">
                <img src="@Url.Content("~/images/discover2.jpg") "
                     width="100%"
                     height="270px"
                     alt="" />
            </div>
        </div>

        <div class="col-lg-4 text-center col-12">
            <div class="discover-card">
                <img src="@Url.Content("~/images/discover3.jpg") "
                     width="100%"
                     height="270px"
                     alt="" />
            </div>
        </div>
         <div class="col-lg-4 text-center col-12">
            <div class="discover-card">
                <img src="@Url.Content("~/images/discover4.jpg") "
                     width="100%"
                     height="270px"
                     alt="" />
            </div>
        </div>
        <div class="col-lg-4 text-center col-12">
            <div class="discover-card">
                <img src="@Url.Content("~/images/discover5.jpg") "
                     width="100%"
                     height="270px"
                     alt="" />
            </div>
        </div>
        <div class="col-lg-4 text-center col-12">
            <div class="discover-card">
                <img src="@Url.Content("~/images/discover6.jpg") "
                     width="100%"
                     height="270px"
                     alt="" />
            </div>
        </div>
    </div>
</div>